.ipynb_checkpoints/
CHANCES-catalogues/
S82_Fields.csv
hydra-chances-catalogue-previous.ipynb
photoz_sigma_nmad.ipynb
photoz_sigma_nmad_and_chances_catalogue.ipynb
stripe82-target-selection.ipynb
tables_stripe82/
target_selection.pdf
